# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
factory-pattern/factory-pattern.iml
learn-pattern.iml
singleton-pattern/singleton-pattern.iml
proxy-pattern/target/
singleton-pattern/target
prototy-pattern/target
factory-pattern/target
/strategy-pattern/target/
